@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("./assets/fonts/Pretendard.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GangwonEduSaeeum";
  src: url("./assets/fonts/GangwonEduSaeeum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KCCGanpan";
  src: url("./assets/fonts/KCCGanpan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-pretendard: "Pretendard";
  --font-gangwon: "GangwonEduSaeeum";
  --font-kccganpan: "KCCGanpan";

  --color-point-color-orange: #eb3d1a;
  --color-point-color-brown: #ad7849;

  /* 추후 삭제 */
  --color-primary-500: #132a4f;
  --color-primary-400: #113d85;

  /* Primary color */
  --color-primary-300: #49684a;
  --color-primary-200: #83ad83;
  --color-primary-100: #b1ceb1;

  /* Text color */
  --color-sage-green: "#49684A";
  --color-light-gray: #b1b8c0;

  /* 추후 삭제 */
  --color-navy-black: #030232;
  --color-dark-gray: #505866;
  --color-dark-gray-blue: #dde6f0;

  /* Label color */
  --color-label-pink: "#FFBCDB";
  --color-label-blue: "#93BFFF";
  --color-label-yellow: "#ffe691";
  --color-label-green: #99e5a1;
  --color-label-beige: "#FFDABD";

  /* 추후 삭제 */
  --color-label-red: #e11321;
  --color-label-purple: #9230cf;
  --color-label-orange: #e86400;
}

:root {
  background-color: #eff1f0;
  font-family: "Pretendard";
}
